<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>SSDT-BAT.aml</string>
				<key>Path</key>
				<string>SSDT-BAT.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-CPU.aml</string>
				<key>Path</key>
				<string>SSDT-CPU.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-EC.aml</string>
				<key>Path</key>
				<string>SSDT-EC.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-GPRW.aml</string>
				<key>Path</key>
				<string>SSDT-GPRW.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-KBD.aml</string>
				<key>Path</key>
				<string>SSDT-KBD.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-PNLF.aml</string>
				<key>Path</key>
				<string>SSDT-PNLF.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-RTC0.aml</string>
				<key>Path</key>
				<string>SSDT-RTC0.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-UIAC.aml</string>
				<key>Path</key>
				<string>SSDT-UIAC.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-USBX.aml</string>
				<key>Path</key>
				<string>SSDT-USBX.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-XOSI.aml</string>
				<key>Path</key>
				<string>SSDT-XOSI.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>SSDT-ZPTS.aml</string>
				<key>Path</key>
				<string>SSDT-ZPTS.aml</string>
				<key>Enabled</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>Kernel</key>
	<dict>
		<key>Add</key>
		<array>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportItlwm</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>AirportItlwm.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>BrcmBluetoothInjector.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmFirmwareData</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>BrcmFirmwareData.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/BrcmPatchRAM3</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>BrcmPatchRAM3.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/IntelBluetoothFirmware</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>IntelBluetoothFirmware.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>IntelBluetoothInjector.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/Lilu</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>Lilu.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/NoTouchID</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>NoTouchID.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/RealtekRTL8111</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>RealtekRTL8111.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/RTCMemoryFixup</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>RTCMemoryFixup.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>USBPorts.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VirtualSMC</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VirtualSMC.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Controller</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/WhateverGreen</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>WhateverGreen.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext/Contents/PlugIns/AirPortBrcm4360_Injector.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string></string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext/Contents/PlugIns/AirPortBrcmNIC_Injector.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooInput</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooInput.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Keyboard</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Keyboard.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooPS2Mouse</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooPS2Controller.kext/Contents/PlugIns/VoodooPS2Mouse.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooGPIO</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooGPIO.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CServices</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext/Contents/PlugIns/VoodooI2CServices.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AirportBrcmFixup</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>AirportBrcmFixup.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/AppleALC</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>AppleALC.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/CPUFriend</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>CPUFriend.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCBatteryManager</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>SMCBatteryManager.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCLightSensor</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>SMCLightSensor.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCProcessor</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>SMCProcessor.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/SMCSuperIO</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>SMCSuperIO.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2C</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooI2C.kext</string>
			</dict>
			<dict>
				<key>Comment</key>
				<string></string>
				<key>MaxKernel</key>
				<string></string>
				<key>PlistPath</key>
				<string>Contents/Info.plist</string>
				<key>Enabled</key>
				<true/>
				<key>MinKernel</key>
				<string></string>
				<key>ExecutablePath</key>
				<string>Contents/MacOS/VoodooI2CHID</string>
				<key>Arch</key>
				<string>Any</string>
				<key>BundlePath</key>
				<string>VoodooI2CHID.kext</string>
			</dict>
		</array>
	</dict>
	<key>Misc</key>
	<dict>
		<key>Tools</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>CleanNvram.efi</string>
				<key>RealPath</key>
				<false/>
				<key>Name</key>
				<string>CleanNvram.efi</string>
				<key>TextMode</key>
				<false/>
				<key>Enabled</key>
				<true/>
				<key>Arguments</key>
				<string></string>
				<key>Path</key>
				<string>CleanNvram.efi</string>
				<key>Auxiliary</key>
				<true/>
			</dict>
			<dict>
				<key>Comment</key>
				<string>OpenShell.efi</string>
				<key>RealPath</key>
				<false/>
				<key>Name</key>
				<string>OpenShell.efi</string>
				<key>TextMode</key>
				<false/>
				<key>Enabled</key>
				<true/>
				<key>Arguments</key>
				<string></string>
				<key>Path</key>
				<string>OpenShell.efi</string>
				<key>Auxiliary</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>UEFI</key>
	<dict>
		<key>Drivers</key>
		<array>
			<string>AudioDxe.efi</string>
			<string>HfsPlus.efi</string>
			<string>OpenCanopy.efi</string>
			<string>OpenRuntime.efi</string>
		</array>
	</dict>
</dict>
</plist>
